/* tree.css */
/* css/tree.css */
/* chrome://resources/css/tree.css */


/* *
 * TODO:
 *
 *
 */


/*
#f7fcf0
#e0f3db
#ccebc5
#a8ddb5
#7bccc4
#4eb3d3
#2b8cbe
#0868ac
#084081
*/


* {
    /*font-family: 'Gordita', sans-serif !important;/**/
    /*font-family: 'Salesforce Sans', sans-serif !important;/**/
    /*font-family: 'Ubuntu', 'Roboto', sans-serif;/**/
    font-weight: 300;
    font-size: 11px;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
}

/*body {
    /*background: linear-gradient(-46deg, #B327BF 0%, #6666FF 47%, #00C09A 100%);*/
    /*font-family: Roboto, sans-serif;*/
    /*font-size: 81%;*/
    /*border: 2px solid #555;
    width: 100vw;
    height: 100vh;
    padding-top: 58px;
}*/

a,
a:focus,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #51a8ff;
}

/*! Overriding Bootstrap */
ol, ul {
    margin: 0;
}


/* *
 * Tree
 */
.tree {
    display: block;
    /* background-color: #282828; */
    background: transparent;
    /*border-right: 2px solid #555;
    border-top: none;
    border-left: none;*/
    min-width: 240px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden; /* default: auto */
}

.tree * {
    font-family: Montserrat, sans-serif !important;
}

.tree-header {
    display: block;
    /*position: absolute;*/
    background: #181819;
    min-width: 240px;
    width: 100%;
    height: 28px;
    box-shadow: rgb(84, 84, 84) 0px 0px 4px 2px;
    z-index: 1;
}
.tree-header .label {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #888;
    min-width: 236px;
    width: 100%;
    text-align: center;
    line-height: 1.8;
}


/* *
 * Tabs
 */
.tree-tabs {
    display: block;
    position: relative;
    border-bottom: 1px solid #555;
    width: 100%;
    margin-top: 5px;
}

.tree-tabs > .tree-tab {
    display: inline-block;
    /*position: relative;*/
    background: none;
    border: none;
    width: 32.2%;
    height: auto;
    text-align: -webkit-center;
}

.tree-tabs > .tree-tab > a {
    display: inline-block;
    /*position: relative;*/
    background: linear-gradient(-20deg, #111 0%, #222 100%);
    border: 1px solid #555;
    border-bottom: transparent !important;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #51a8ff;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 1.65;
}

.tree-tabs > .tree-tab:first-of-type {
    float: left;
    margin: 0 2px;
}

.tree-tabs > .tree-tab:last-of-type {
    float: right;
    margin: 0 2px;
}

/*a:hover < .tree-tab {
    border: 1px solid linear-gradient(-46deg, #B327BF 0%, #6666FF 47%, #00C09A 100%);
}*/

.tree-tabs > .tree-tab > a:focus,
.tree-tabs > .tree-tab > a:active,
.tree-tabs > .tree-tab > a:visited {
    text-decoration: none;
    color: #51a8ff;
}

.tree-tabs > .tree-tab > a:hover {
    border: 1px solid #777;/**/
}

.tree-tabs > .tree-tab > a.active {
    background: linear-gradient(-20deg, #222 0%, #333 100%);
    color: #7fffd4;
}

.tree-tab-content {
    display: block;
    position: relative;
    background: transparent;
    /*border: 1px solid #00ffff; /* FOR TESTING */
    width: auto;
    height: 100%; /* 308px */
    padding: 0;
    overflow: auto;
}


/* *
 * Tree body
 */
.tree-body {
    display: block;
    /*background-color: #282828;
    border: 2px solid #555;*/
    width: 100%;
    height: 100%; /* 308px */
    padding: 5px;
    margin: 0;
    overflow: auto;
    box-shadow: inset 0 0 0 1px #000;
}

.tree-item {
    display: block;
    position: relative;
    background-color: transparent;
    border: 0px none transparent;
    color: #4d90fe;
    width: 100%;
    height: 18px;
    margin: 2px 0;
    white-space: nowrap;
    cursor: default;
}

/*.tree-row[select=true] {
    border: 1px dashed #44AFF6;
}*/
.tree-item > .tree-row {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-left: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    user-select: none;
    white-space: nowrap;
    line-height: 1.6;
    height: 18px;
    padding: 0 3px;
    -webkit-padding-start: 0px;
    cursor: default;
}

.expand-icon {
    display: inline-block;
    position: relative;
    background-image: url(../images/ui-icons_light-grey_256x240.png);
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
    /*opacity: .6;*/
    /*top: 1px;*/
    margin: 1px;
    vertical-align: top;
}
.expand-icon:hover {
    background-image: url(../images/ui-icons_2e83ff_256x240.png);
}

.tree-item[expanded=true] {
    height: auto;
}
.tree-item[expanded=true] > .tree-row > .expand-icon {
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMSIgdmlld2JveD0iMCAwIDE2IDExIiBmaWxsPSIjN2E3YTdhIj4KICA8cGF0aCBkPSJNMCAwIEwwIDIgTDcgOSBMMTQgMiBMMTQgMCBMMCAwIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);*/
    background-image: url(../images/ui-icons_2e83ff_256x240.png);
    background-position: -48px -16px;
    /*opacity: .5;*/
    /*transform: rotate(45deg); /**/
}
.tree-item[expanded=true] > .tree-row > .expand-icon:hover {
    background-image: url(../images/ui-icons_cc0000_256x240.png);
}
.tree-row > .expand-icon {
    visibility: hidden;
}
.tree-row[may-have-children] > .expand-icon {
    visibility: visible;
}
/*.tree-row[has-children=false] .expand-icon {
    visibility: hidden;
}*/
/*.tree-row[has-children=false] .expand-icon {
    display: none;
}*/

.tree-row[has-children=false] {
    -webkit-padding-start: 20px;
}

.tree-row:hover {
    /*background-color: hsl(214, 91%, 97%);*/
    /*border-color: hsl(214, 91%, 85%);*/
    border-left: 2px solid rgba(233, 48, 96, .4);
    z-index: 1;
}
.tree-row[select=true] {
    background-color: #343434;
    border-left: 2px solid #e93060;
    z-index: 2;
}
.tree-row[select=true]:hover {
    background-color: #383838;
}

.tree-children {
    /* display: none; */
    -webkit-padding-start: 0px;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.5, 1.46);
    transform: translate(-80px);
    opacity: 0;
}
.tree-children[expanded=true] {
    /* display: block; */
    -webkit-padding-start: 17px;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.5, 1.46);
    transform: translate(0);
    opacity: 1;
}

/*.hidden {
  display: none;
}
.visually-hidden {
  transform: translate(-100px);
  opacity: 0;
}*/

.tree-item > .tree-row > */*:not('.tree-item[is-editing] input')*/ {
    display: inline-block;
    box-sizing: border-box;
}
.tree-label {
    background-repeat: no-repeat;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #51a8ff;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 190px;
    width: auto !important;
    height: 16px !important;
    -webkit-padding-start: 20px;
    margin: 1px 0 !important;
    overflow: hidden;
}
html[dir=rtl] .tree-label {
    background-position: 100% 50%;
}
.tree-label, .tree-row[may-have-children] > .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -1px;
}
.tree-item[item-type=folder] .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -1px;
}
.tree-item[expanded=true] > .tree-row > .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -18px;
}
.tree-item[item-type=note] .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -35px;
}
.tree-item[item-type=email] .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -52px;
}
.tree-item[item-type=contact] .tree-label {
    background: url(../images/tree_icons.png) no-repeat 0px -69px;
}

.tree-rename {
    display: none;
    background-color: #343434;
    border: 1px dotted #3626C5; /* #555 */
    color: #52FFA3; /* #ddd */
    height: 16px;
}

html[dir=rtl] .tree-label, html[dir=rtl] .tree-row[may-have-children] > .tree-label {
    background-image: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAABRUlEQVR4Xs2UPUvEQBCG39mLnvhZXSEoWghWguAfsNPK1kYUG6+00fYKbSwtBLlrBFv/hKWVpVaWYiESReJdNNlxdhIRwkLIcYhDhmcHss/skuwSM2NQYTDACKoIjnZX9wRtj6fZurjuVJI50ebWBuYXl7SIokh5dnLqGnSCCt0xMz2F+OUB9zePWjMbZWN2QecVZexwcLiD4cYcNIjco4RCqEOBkrC8Bhzvt9rebfLTHYLJUWiYGkAGrMzGMEapCQKboOQDxKFCBCokN0GSA2liawVhmaz7lrE+DlgDmETFlH6pFCLln1VTvURm01/pyATArnbSXCZSGhrTVTNxhZ+2957JbaISJD3JLhC/Cj/B1lY8AXEkYIBtLs6lqchS/qPj9BFL1+fQIwjhf//WL1tZ38b51SX6iCaYuZB9h3eb9C/us28Uf7F5VS9BsgAAAABJRU5ErkJggg==) 1x);
}
html[dir=rtl] .tree-item[expanded=true] > .tree-row > .tree-label {
    background-image: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAABTUlEQVR4Xs3Uy0oCUQDGcZ+s3qBt2yCYRZsg3ASFRQUtKroaWVZCQRkkhEGEXXyADJVg7KKVUjGpFRQEOufrzHcwc5ggh6AWf2Zz5nc+ZjEeAL/W32GDHa2aDA5pbjDosXG85/dZSY9YESTWxO0I9rYhudmF060elgh7mb+/k+vsmM8C3s6WUTEOVI+HqBZlpSNmlo9hPqnEs1Uc4iVuYVzSIkOgr73pCql1iHIMpkSJARiwsNeYF9XU2Ge4nFddBYBcELgJAXn58n0E4mEHwogSFMU9rv0eOxkC0qOq81ngwi/RBSC7BFyvArdrwN02sYrBT1DDGkEkR4jJZ73MtERnZHNqbXYRyK0AhXANdMSYmRgm0pA+KZuqw1wbcMBsYDU9QcABrJdRMHIhgnbM92Wde8wOGrvdBH8Yzzti0Y0gJ7tII2IHXeb5v/+zD5m5/ov62ALOAAAAAElFTkSuQmCC) 1x);
}
tree[icon-visibility=hidden] .tree-label {
    -webkit-padding-start: 0px;
    background-image: none !important;
}
tree[icon-visibility=parent] .tree-label, tree[icon-visibility=parent] .tree-row[has-children=false] > .tree-label {
    background-image: none;
}
/* We need to ensure that even empty labels take up space */
.tree-label:empty::after {
    content: ' ';
    white-space: pre;
}
/*.tree-rename > .tree-row > .tree-label {
    -webkit-user-modify: read-write-plaintext-only;
    background: white;
    color: black;
    outline: 1px solid black;
    user-select: auto;
}*/
.tree-item input {
    /* Do not inherit the line-height */
    display: none;
    /*background: transparent;*/
    /*border: none;*/
    outline: none;
}
.tree-item[is-editing] input {
    /* Do not inherit the line-height */
    display: inline-block;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: aquamarine;
    height: 20px;
    padding: 1px 5px 1px 1px;
    margin: -2px -8px -2px -3px;
    outline: none;
    position: relative;
}
html[dir=rtl] .tree-item[is-editing] input {
    margin: -2px -3px -2px -8px;
    padding: 1px 1px 1px 5px;
}
