/* tooltip.css */
/* css/tooltip.css */


.tool-tip {
    position: absolute;
    background: #282828; /* #333740; */
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 1.2;
    width: fit-content;
    height: 20px;
    padding: 2px 4px;
    cursor: default;
    z-index: 5;
    opacity: 1;
    box-shadow: 0px 2px 4px #000;
}

.tool-tip:after {
    /*display: relative;*/
    background-image: url(../images/tt-arrow.png);
}

.tt-content {
    color: #8ed3fb; /* #7fffd4 */
}


/* *
 * GitHub Tooltip
 */
.tooltip {
    position: relative;
}

.tooltip::after {
    display: none;
    position: absolute;
    padding: .3em .75em;
    font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    color: #8ed3fb; /* default: #ddd; */
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: #1b1f23;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #aaa;
    opacity: 0;
    z-index: 1000000;
}

.tooltip::before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: #1b1f23;
    pointer-events: none;
    content: "";
    border: 6px solid transparent;
    opacity: 0;
}

@-webkit-keyframes tooltip-appear {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes tooltip-appear {
    from { opacity: 0 }
    to { opacity: 1 }
}

.tooltip:hover::before,.tooltip:hover::after,.tooltip:active::before,.tooltip:active::after,.tooltip:focus::before,.tooltip:focus::after {
    display: inline-block;
    text-decoration: none;
    -webkit-animation-name: tooltip-appear;
    animation-name: tooltip-appear;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.tooltip-no-delay:hover::before,.tooltip-no-delay:hover::after,.tooltip-no-delay:active::before,.tooltip-no-delay:active::after,.tooltip-no-delay:focus::before,.tooltip-no-delay:focus::after {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.tooltip-multiline:hover::after,.tooltip-multiline:active::after,.tooltip-multiline:focus::after {
    display: table-cell;
}

.tooltip-s::after,.tooltip-se::after,.tooltip-sw::after {
    top: 100%;
    right: 50%;
    margin-top: 6px;
}

.tooltip-s::before,.tooltip-se::before,.tooltip-sw::before {
    top: auto;
    right: 50%;
    bottom: -7px;
    margin-right: -6px;
    border-bottom-color: #1b1f23;
}

.tooltip-se::after {
    right: auto;
    left: 50%;
    margin-left: -16px;
}

.tooltip-sw::after {
    margin-right: -16px;
}

.tooltip-n::after,.tooltip-ne::after,.tooltip-nw::after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 6px;
}

.tooltip-n::before,.tooltip-ne::before,.tooltip-nw::before {
    top: -7px;
    right: 50%;
    bottom: auto;
    margin-right: -6px;
    border-top-color: #1b1f23;
}

.tooltip-ne::after {
    right: auto;
    left: 50%;
    margin-left: -16px;
}

.tooltip-nw::after {
    margin-right: -16px;
}

.tooltip-s::after,.tooltip-n::after {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.tooltip-w::after {
    right: 100%;
    bottom: 50%;
    margin-right: 6px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.tooltip-w::before {
    top: 50%;
    bottom: 50%;
    left: -7px;
    margin-top: -6px;
    border-left-color: #1b1f23;
}

.tooltip-e::after {
    bottom: 50%;
    left: 100%;
    margin-left: 6px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.tooltip-e::before {
    top: 50%;
    right: -7px;
    bottom: 50%;
    margin-top: -6px;
    border-right-color: #1b1f23;
}

.tooltip-align-right-1::after,.tooltip-align-right-2::after {
    right: 0;
    margin-right: 0;
}

.tooltip-align-right-1::before {
    right: 10px;
}

.tooltip-align-right-2::before {
    right: 15px;
}

.tooltip-align-left-1::after,.tooltip-align-left-2::after {
    left: 0;
    margin-left: 0;
}

.tooltip-align-left-1::before {
    left: 5px;
}

.tooltip-align-left-2::before {
    left: 10px;
}

.tooltip-multiline::after {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 250px;
    word-wrap: break-word;
    white-space: pre-line;
    border-collapse: separate;
}

.tooltip-multiline.tooltip-s::after,.tooltip-multiline.tooltip-n::after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-multiline.tooltip-w::after,.tooltip-multiline.tooltip-e::after {
    right: 100%;
}

@media screen and (min-width: 0\0) {
    .tooltip-multiline::after {
        width:250px;
    }
}

.tooltip-sticky::before,.tooltip-sticky::after {
    display: inline-block;
}

.tooltip-sticky.tooltip-multiline::after {
    display: table-cell;
}
