/* *
 * ui_dark.css
 */


@font-face {
	font-family: 'Nintendo Switch UI';
	src: url('../fonts/Nintendo_Switch_UI.ttf') format("truetype");
	font-weight: 400;
	font-style: normal;
}

html, body {
	background: #000;
	font-family: 'Nintendo Switch UI', sans-serif;
	font-size: 12px;
	color: #eee;
	user-select: none;
}
.main {
	display: block;
	background: #1f1f1f;
	font-family: inherit;
	/*width: 1280px;
	height: 720px;*/
	width: 145mm;
	height: 82mm;
	margin: auto;
}

.status-bar {
	/*position: absolute;*/
	height: 24px;
	top: 0;
	padding: 8px;
	vertical-align: middle;
}

.status-bar > span {
	margin: 5px 10px;
}

.left {
	position: relative;
	float: left;
}
.right {
	position: relative;
	float: right;
}


.applications {
	display: block;
	margin: 18px;
}

.app {
	display: inline-flex;
	background: #313131;
	border: 3px solid #a4dcd6;
	box-shadow: inset 0 0 0 2px #1f1f1f;
	width: 100px;
	height: 100px;
	margin-right: 4px;
}

.icon-bar {
	display: block;
	margin: 18px;
}

.icon {
	display: inline-flex;
	background: #414141;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	padding: 6px;
	margin: 3px;
}
/*.icon::before {
	width: 16px;
	height: 16px;
}*/

#profile-icon.icon.left::before {
	content: url('../icons/user-small.png');
	width: 16px;
	height: 16px;
	padding: 0;
}

#news.icon::before {
	content: url('../icons/news.svg');
}
#eshop.icon::before {
	content: url('../icons/eshop.svg');
}
#album.icon::before {
	content: url('../icons/album.svg');
}
#controllers.icon::before {
	content: url('../icons/controllers.svg');
}
#sys-settings.icon::before {
	content: url('../icons/sys-settings.svg');
}
#sleep-mode.icon::before {
	content: url('../icons/power.svg');/**/
	/*content: url('../icons/power-settings (2).png');/**/ /* fill: #47BBF7 */
}
